body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.cv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  width: 80%;
  height: 100%;
  gap: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  width: 90%;
  height: 300px;
  gap: 20px;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 20%;
  height: 250px;
}
.avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 60%;
  height: 250px;
  gap: 20px;
}

.title__name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  width: 80%;
  height: 70px;
  font-size: 50px;
  font-weight: bold;
}

.title__job {
  border: 1px solid black;
  width: 80%;
  height: 70px;
}

/* content====================================== */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border: 1px solid black;
  width: 90%;
  height: 100vh;
  gap: 20px;
}

.content-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  width: 20%;
  height: 95vh;
}

.left__card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  height: 300px;
  /* gap: 10px; */
}

/* content right */
.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  width: 60%;
  height: 95vh;
}

.right__card {
  border: 1px solid black;
  width: 80%;
  height: 180px;
}

.bottom {
  border: 1px solid black;
  width: 90%;
  height: 300px;
}
